# Pipfile

[[source]]
name = "pypi" # Primary package source
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# HTTP libraries
requests = "*"

# Data processing libraries
pandas = "*"

# Visualizations
matplotlib = "*"

[dev-packages]
# Testing tools
pytest = "*"

# Code quality tools
flake8 = "*"
black = "*"

[requires]
python_version = "3.13"
